<div class="form-group">
    <div class="title-group"> 
        <label for="title">TÍTULO*</label>
        <input name="nome" placeholder="Escreva seu título" [(ngModel)]="title" type="string"/>
    </div>

        <div class="description-group">
          <label for="description">DESCRIÇÃO*</label>    
          <textarea placeholder="Descreva sua experiência" name="nome" [(ngModel)]="description" type="string"></textarea>
        </div>

            <div class="file-group">
                <label for="image">APRESENTE UM PRINT DA SITUAÇÃO:</label>
                <input type="file">
            </div>


                <div class="button-group">
                    <input type="submit" mat-raised-button (click)="submit()" value="{{btnText}}">
                </div>
            
</div>